@charset "UTF-8";

body {
  background-color: #EFE3D2;
}

header {
	background-color: #262626;
	nav {
		ul {
			margin:0;
			text-align:right;
			li {
				display: inline-block;
				margin-left: 0.5em;
				a {
					color: rgb(12, 9, 9);
					&:link, &:visited, &:hover, &:active {
						color: white;
					}
				}
			}
		}
	}
}

/** ドキュメント装飾のためのCSS、セミナー用文書と通常文書の２つで共有なので分離 */
#content {
	background-color:#fff;
	margin:0 4em;
	padding:1em;
}

@media screen and (max-width: 720px) {
	#content {
		margin:0 0.7em;
		padding:0.5em;
	}
}

h2 {
	background-color:#fff;
	font-size:1.4em;
	background-repeat:no-repeat;
	background-position:bottom right;
	border-left-width:0.5em;
	border-style:solid;
	padding-left:0.6em;
}

h2 + div.section,
h2 + section {
	padding:0 2em;
}

h2:before {
	content:"";
}

h3 {
	border-color:#393869;
	border-width:0.1em;
	border-style:none none solid none;
	background-position:bottom left;
	background-repeat:no-repeat;
	padding-left:0.5em;
}

h4 {
	border-style:none none dashed none;
	padding-left:0.7em;
}

h3:before {
	content:"";
 	margin-right:0.2em;
}

h2 + div.section,
h2 + section {
	border-width:0.2em;
	margin:0 0 0.4em 0;
	padding:0.5em;
}

blockquote {
	border-style:solid;
	background-repeat:no-repeat;
	background-position:80% 60%;
}

/* table,list */
table {
	border-style:solid;
	border-width:0.5em;
	margin:0.5em 1em;
	border-spacing:4px;
}

@media screen and (max-width: 720px) {
	table {
		margin:0.3em 0.5em;
	}
}

th {
	font-style: normal;
}

ul {
	border-style:none;
	margin-left:0.4em;
}

dl.explain {
	border-style:none none none solid;
	border-width:0.3em;
	> dt.define {
		border-style:solid none;
		font-size:1.2em;
		font-weight:bold;
		padding:0.2em;
	}
}

div.para {
	padding:0.2em;
	margin:0.2em;
}

*.wa {
	font-size:1.3em;
	font-weight:700;
}

dl.history dt,
dl.stalk dt {
	font-size:1.2em;
	font-weight:bold;
	border-style:none none solid;
}

/* 外部へのリンクのときに使用する */
a.external:before {
	content:"*";
	font-size:0.8em;
}
