@charset "UTF-8";

/** blog関連で、どのサイトでも使う様な汎用の要素。主に文章中で使う、リストや引用関連のタグの装飾でデザイン本体には関わりません */

/** 関連サイトへのリンク */

ul.related {
	list-style-image:url("img/doc-list-icon.png");
}
ul.date{
	list-style-image:url("img/list-data-item.png");
}

article.entry {
	position:relative;
	margin-top:0.8em;
	border-style:dashed none none none;
	border-width:1px;
	border-color:#d5a634;
}

article.entry:first-child{
	margin-top:0;
	border-style:none;
}

h2.title {
	font-size:1.0em;
}

h3.title a,
h2.title a{
	text-decoration:none;
	color:#555;
}
h3.title a:hover,
h2.title a:hover{
	text-decoration:underline;
	background-color:transparent;
}
h2.title:before,
h2.title:before{
}
ul.data {
	list-style-type:disc;
}
ul.reference-link{
	display:block;
}
ul.reference-link > li{
	display:inline;
	margin:0 0.2em;
}
ul.reference-link > li > a.source:before{
	content:" [ ";
}
ul.reference-link > li > a.source:after{
	content:" ]";
}
div.entry-date{
	display:none;
}
ul.entry-append-info {
	margin-top:1em;
	padding:0;
	font-size:0.8em;
}
ul.entry-append-info li {
	display:inline;
}
ul.entry-append-info li:before {
	content:"|";
}
ul.entry-append-info li:first-child:before {
	content:"";
}
blockquote:after{
	display:none;
	border-style:solid;
	color:#aaa;
	border-color:#aaa;
	border-width:1px;
	padding:1px 0.5em;
}
blockquote[title]:after{
	content:attr(title);
	display:block;
}
blockquote[cite]:after{
	content:attr(cite);
	display:block;
}
dl.data{
	padding:0;
	margin:0.3em;
}
dl.data dt{
	border-style:double none;
	padding:0.2em 0.5em;
}

div.comments form,
form#comments_form{
	background-color:transparent;
	padding:0.5em;
}

div.trackbacks{
	padding:0.5em;
}

p.trackback-url-title{}
p.trackback-url{
	text-decoration:underline;
}

/** ここからはコメント投稿欄のスタイル */

#comments-open-data{
	padding:0.5em;
}
#comments-open-data label{
	display:block;
	width:6em;
	float:left;
	padding:0.2em 0.4em;
}
#comments-open-data input[type='text']{
	background-color:#eee;
}
#comments-open-data input[type='text']:focus{
	background-color:#fff;
}
#comments-open-data label#comment-bake-cookie-label{
	width:30em;
}
#comments-open-text > #comment-text{
	background-color:#eee;
}
#comments-open-text > #comment-text:focus{
	background-color:#fff;
}
#comment-bake-cookie-label{
	display:block;
	padding:0.3em;
	width:100%;
}
p#comments-open-text{
	padding:0.5em 0.3em 0.3em 0.3em;
}
p#comments-open-text > label{
	display:block;
	width:100%;
}
textarea#comment-text{
	margin:auto;
}
div.comment{
	border-style:dashed none none none;
	padding:0.4em;
}
div.comment-header{
	font-weight:bold;
}
div.comment-content{
	border-style:solid none;
	padding:0.3em;
	padding-left:1em;
	margin:0.3em;
}
p.comment-footer,
p.comment-footer-experimental{
	display:inline;
}
