@charset "UTF-8";

/* 文字装飾用のクラス集 */
/* 適用範囲:勝手にして（ぉ */

blockquote[cite]:after,
blockquote[title]:after {
	color:#82947a;
}

*.NY {
	font-family:"Times New Roman","New York","ＭＳ 明朝",serif;
}

*.JP {
	font-family:"ＤＦ平成明朝体W3", "ＭＳ 明朝", "細明朝体", serif;
}

*.miyabi {
	font-family:"ＤＦ行書体",cursive;
}

*.bakuzen {
	letter-spacing:0.5em;
}

em.mark, em.kwd {
	font-weight:normal;
}

em.mark:before, em.mark:after,
em.kwd:before, em.kwd:after {
	content:'"';
}

em.more {
	font-weight:bold;
	font-size:1.3em;
}

span.voice_fadeout {
	font-size:0.5em;
}

*.uri{
	color:#42d;
}

em.comment:before,
q.comment:before {
	content:"「";
}

em.comment:after,
q.comment:after {
	content:"」";
}

/* ins */
ins.exposition,
ins.append,
ins.annotation {
	display:block;
	margin:0.1em;
	padding:0.1em 0.3em;
}
ins.exposition[datetime]:after,
ins.append[datetime]:after,
ins.annotation[datetime]:after {
	content:attr(datetime);
	display:block;
	border-style:solid;
	text-align:right;
}

/* 文書の分からない言葉に最後に解説を加えるときに使用します。 */
ins.exposition:before {
	content:"解説 : ";
}

a.exposition {
	text-decoration:none;
}

a.exposition:before {
	content:"*";
	vertical-align:super;
}

/* 訂正などを追記する場合に使用 */
ins.append:before {
	display:block;
	content:"<<<追記>>>";
	padding:0.2em;
	color:#aaa;
}


/* メールの内容を紹介する場合 */
blockquote.mail {
}

blockquote[cite]:after,
blockquote[title]:after {
	content:attr(cite);
	display:block;
	text-align:right;
	color:#999;
}


/* アスキーアート表示用の設定 */
pre.AA {
	font-family:"MS UI Gothic", "Osaka", monospace;
	font-size:1.0em;
	line-height:1.2;
}

/* 顔文字表示用の設定 */
span.face_mark
em.face_mark
strong.face_mark {
	font:inherit;
}

/* 会話を再現するために使います */
dl.talk{
	position:relative;
	padding-left:0;
}

dl.talk dt {
	position:absolute;
	left:0;
	width:7em;
}

dl.talk dd {
	margin-left:9.0em;
}

/** ニコニコ動画やgooglemap等、外部コンテンツをWebページに貼り付けるために使います */
object.ext-content,
iframe.ext-content{
	border:solid 1px #888;
}

/* ニコニコ動画向けのリンクの装飾 */
object.nico{
	border:solid 1px #888;
	width:312px;
	height:176px;
	overflow:hidden;
}

