@charset "Shift_JIS";

/* CG“W¦—p‚ÌƒMƒƒƒ‰ƒŠ[‚Ì‘•ü */

@import url("def/html-default-css1.css");
@import "def/html-default-css2.css" all;
@import url("def/html-color-base.css");
@import url("base-style.css");
@import url("pattern/banner-title.css");

dl.gallary {
	position:relative;
	margin-bottom:300px;
}
dt.preview {
	border-style:solid;
	width:200px;
	position:absolute;
}

dd.exception {
	margin-left:230px;
}
