@charset "Shift_JIS";

/* Šî–{İ’è‚Ì“Ç‚İ‚İA\•ª‚È’m¯‚Ì‚È‚¢‚¤‚¿‚É‚±‚ê‚ç‚ğ˜M‚ç‚È‚¢–‚ğ„§ */
@import url("css/html_default.css");

h1 {
	color:#B8D0D0;
	font-family:"Times New Roman", "New York", "‚c‚e•½¬–¾’©‘ÌW3", "×–¾’©‘Ì" , "‚l‚r –¾’©", serif;
	font-size:1.6em;
}

body {
	background-color:#558D8D;
}

a,
a:visited,
a:hover,
a:active {
	color:#3E5858;
}

a img {
	border-style:solid;
	border-width:1px;
	border-color:#A3CDCD;
}

div#content {
	border-style:solid;
	border-width:2px;
	border-color:#434C4C;
	width:760px;
	padding:5px;
	margin:auto;
}

ul.toc {
	margin:0;
	padding:0;
	width:75%;
}

ul.toc li {
	background-color:#DAEBEB;
	border-style:solid;
	border-width:1px;
	border-color:#A3CDCD;
	margin:0.2em 0;
	padding:0.4em;
}

li a,
li a:visited,
li a:hover,
li a:active {
	text-decoration:none;
	font-weight:bold;
	font-size:1.2em;
	color:#3E5858;
}

div#footer,
div#top-image {
}

div#footer {
	width:300px;
	float:left;
	margin-right:3px;
}

div#top-image {
	width:435px;
	border-style:none none none solid;
	border-color:#434C4C;
	float:left;
	text-align:center;
	padding:4px;
}

br.clear {
	clear:both;
}

div#container {
	background-color:#B8D0D0;
	color:#545F5F;
	padding:0.5em;
	margin:0 0.4em 0.3em 0;
}

div#nav {
	margin-bottom:4em;
}

address {
	margin:0;
	padding:0;
}

div#policy {
	margin-top:1.5em;
}

div#licence {
	margin-top:1.5em;
}
