@charset "Shift_JIS";

@import url("pattern/side_bar.css");

div.link_bar {
	background-color:#f7fdf6;
}

div.link_bar h2 {
	border-color:#017d84;
}

div.link_bar h2:before {
	color:#0c947d;
}
