@charset "Shift_JIS";

body {
	padding:0;
	padding-bottom:1em;
}

body > h1 {
	border-width:0.2em;
	border-style:none none solid;
	font-size:1.6em;
	margin:0 0 0.8em;
	padding:0.1em 0.3em 0.4em;
}

h1 + div {
	margin:0.6em 1em;
}
