@charset "Shift_JIS";

/* 基本設定の読み込み、十分な知識のないうちにこれらを弄らない事を推奨 */
@import url("css/html_default.css");

body {
	background-color:#3C100E;
	color:#D0C6B7;
	
	/* コンテンツを中心に持っていく、IE対策 */
	text-align:center;
}

a,
a:visited,
a:hover,
a:active {
	color:#D0C6B7;
}

a img {
	border-style:solid;
	border-width:1px;
	border-color:#D0C6B7;
}

table#content {
	margin:auto;
	border-style:none;
	
	/* IE様text-alignをキャンセルしています */
	text-align:left;
}

td#header {
	background-image:url("top_banner.jpg");
	background-color:#8B5754;
	border-style:none;
	margin-bottom:0.5em;
}

h1 {
	display:none;
}

td#top-image {
	border-style:none;
}

td#conteiner {
	border-style:solid none none none;
	border-width:2px;
	border-color:#8B5754;
}

div#nav {
	border-style:none solid none none;
	border-width:1px;
	border-color:#8B5754;
	width:180px;
}

ul.toc {
	font-size:1.8em;
	font-family:"Verdana","MS UI Gothic", monospace;
}

ul.toc a {
	text-decoration:none;
}

td#container2 {
	border-style:solid;
	border-width:1px;
	border-color:#8B5754;
	margin:0.2m 0;
}

td#container3 {
	border-style:solid;
	border-width:2px;
	border-color:#8B5754;
	padding:0.4em;
}

div#alliance li{
	display:inline;
}

div#environment {
	margin:0.4em 0.4em 0.7em 0.4em;
}

div#policy {
	margin:0.4em;
}

div#licence {
	margin:0.4em;
}

table#content {
	width:605px;
}
td#header {
	height:115px;
}

td#top-image {
	width:200px;
	height:300px;
}

td#conteiner {
	width:400px;
}
